<!-- config environment>
<environment id="dev">
    <!-- jdbc to manage databse>
    <transactionManager type="JDBC"></transactionManager>
    <!-- connection pool>
    <dataSource type="POOLED">
        <property name="driver" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/myDB"/>
        <property name="username" value="root"/>
        <property name="password" value="root"/>
    </dataSource>
</environment>